*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

h1{
    font-family: 'Bebas Neue', cursive;
    color: red;
    text-align: center;
    padding: 50px;
    
}
